*{
    
    box-sizing: border-box;
    
}
 
/* startheader */

header div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 300px;
}
hgroup h1 {
    color: rgb(19, 22, 22);
    position: absolute;
    left: 0;
    margin-left: 230px;
    
}
figure{
    margin-right: o;
}
hgroup h2{
    display: none;
}
header figure{
    transform: rotate(-30deg);
}

/* endheader */
/* startcontent */
div.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content section{
    margin-left: 220px;
    padding: 10px;
    margin-bottom: 10px;
    
}
section:not(#about):not(#contact){
    border-left: 1px solid gray;
    

}
section h3{
    font-style: italic;
    position: absolute;
    left: 0;
    margin-left: 60px;
}

/* startabout */
 #about{
    font-style: italic;
    color: gray;
    top: 0;
    margin-bottom: 50px;
    position:absolute;

 }
 #about h3{
    display: none;
 }
 #about p{
    width:50%;
    height:50%;
    line-height: 20px;
    border-top: 1px solid rgb(128, 128, 128);
    position: relative;
    top: 50px;
    margin-right: 0;
    padding-top: 20px;

 }

/* endabout */
/* startcomptencis */
.skills{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;

}
.skill{
    margin: 10px;
    background-color: darkcyan;
    width: calc(80%/3);
    height: 50px;
    color: white;
   
    
}
.skill[data-skill="5"]::after{
    content: "\2605" "\2605" "\2605";
    position: relative;
    float: right;
    color: white;
    padding: 5px;
    margin-right: 5px;
    font-size: larger;
    

    

}
.skill[data-skill="9"]::after{
    content: "\2605" "\2605" "\2605" "\2605" "\2605";
    position: relative;
    float: right;
    color: white;
    padding: 5px;
    margin-right: 5px;
    font-size: larger;

}

.skill[data-skill="7"]::after{
    content: "\2605" "\2605" "\2605" "\2605";
    position: relative;
    float: right;
    color: white;
    padding: 5px;
    margin-right: 5px;
    font-size: larger;
}
.skill span{
    display: block;
    float: left;
    margin: 5px;
}
.skills.skills-secondary .skill{
  height: 40px;

}
.skill[data-skill="1"]::after{
    content: "\2605";
    position: relative;
    color: white;
    float: right;
    padding: 5px;
    margin-right: 5px;
    font-size: larger;

}
.skill[data-skill="3"]::after{
    content: "\2605" "\2605";
    position: relative;
    float: right;
    color: white;
    padding: 5px;
    margin-right: 5px;
    font-size: larger;

}


/* endcompetencies */
/* startexperience */
 .experience-type{
    color: darkcyan;
 }
 .experience-details{
    position: relative;
    right: 0px;
    color: gray;
    text-align: center;


 }
 .experience-description{
    width: 70%;

 }
 .experience-institution{
    display: none;
 }
/* endexperience */
/* contact */
#contact h3{
    display: none;
}
dt.contact-type , dd.contact-value{
    display: none;
}
#contact{
    width: 100%;
    height: 100px;
    margin: 20px;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contacts dl{
    margin-left: 10px;
}
dl.contact.contact-email{
    background-image: url(../images/email.png);
    background-size: contain;
    width: 100px;
    height: 100px;
   

}
dl.contact.contact-phone{
    background-image: url(../images/phone.png);
    background-size: contain;
    width: 100px;
    height: 100px;
  

}
dl.contact.contact-github{
    background-image: url(../images/github.png);
    background-size: contain;
    width: 100px;
    height: 100px;

}
dl.contact.contact-facebook{
    background-image: url(../images/facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;

}

/* startresponsive */

@media(max-width:900px){
    header>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: small;


    }
    header hgroup{
        margin-left: 20px;
        float: left;

    }
  div.content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

   
  }
  .content #about{
    grid-column: 1 ;
    grid-row: 1;

  }
  #about p{
    width: 100%;
  }
  img{
    display: none;
  }
  #about p{
    width: 70%;
    height: 30%;
    margin-top: 80px;
  }
  .content #competencies{
    grid-column: 1 ;
    grid-row: 1;
    margin-top: 50px;

  }

  .content #experience{
    grid-column: 1 ;
    grid-row: 3;

  }
  .content #education{
    grid-column: 1 ;
    grid-row: 4;

  }
  .content #hobbies{
    grid-column: 1 ;
    grid-row: 5;


  }
  .content #contact{
    position: relative;
    right: 0px;
    grid-column: 1 ;
    grid-row: 6;
  }
  dd{
    background-color: white;
  }
}

 @media(max-width:800px){
        header{
            margin-top: 0;

        }
        #about{
            margin-left: 0;
        }
        #about p{
            width:100%;
            padding-bottom: 50px;
            height: 20%;
            margin-left: 20;
        }
        section{
            margin-left: 0px;
            float: left;
        }
        .skills{
            margin: 10px;
        }
 }
  
  

/* endresponsive */